lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Build
public/css/main.css
build
[b/B]uild
[d/D]ist

# Coverage reports
coverage

# Dependency directory
node_modules
bower_components
.virtualenv
__pycache__

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
*/dist/**/*

# ignore yarn.lock
yarn.lock

# ignore database files
database
UserDatabase
