version: "3"

services:
  auth:
    image: openslides-auth-dev
    restart: always
    depends_on:
      - datastore-reader
      - datastore-writer
      - message_bus
      - cache
    env_file: services.env
    volumes:
      - ./auth/libraries:/app/libraries
      - ./auth/src:/app/src
      - ./auth/test:/app/test
    ports:
      - "9004:9004"

  message_bus:
    image: redis:alpine
    expose:
      - 6379

  cache:
    image: redis:alpine
    expose:
      - 6379

  datastore-reader:
    build:
      context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
      dockerfile: Dockerfile
      args:
        MODULE: "reader"
        PORT: "9010"
    image: openslides-datastore-reader
    ports:
      - "9010:9010"
    environment:
      - DATASTORE_ENABLE_DEV_ENVIRONMENT=1
      - NUM_WORKERS=8
      - OPENSLIDES_DEVELOPMENT=1
    depends_on:
      - postgresql
  datastore-writer:
    build:
      context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
      dockerfile: Dockerfile
      args:
        MODULE: "writer"
        PORT: "9011"
    image: openslides-datastore-writer
    ports:
      - "9011:9011"
    environment:
      - DATASTORE_ENABLE_DEV_ENVIRONMENT=1
      - COMMAND=create_initial_data
      - DATASTORE_INITIAL_DATA_FILE=https://raw.githubusercontent.com/OpenSlides/openslides-backend/main/global/data/example-data.json
      - OPENSLIDES_DEVELOPMENT=1
    depends_on:
      - postgresql
      - redis

  postgresql:
    image: postgres:11
    environment:
      - POSTGRES_USER=openslides
      - POSTGRES_PASSWORD=openslides
      - POSTGRES_DB=openslides
  redis:
    image: redis:alpine
