version: "3"

services:
  auth:
    build:
        target: "$CONTEXT"
        args:
            CONTEXT: "$CONTEXT"
    image: openslides-auth-$CONTEXT
    user: $USER_ID:$GROUP_ID
    restart: always
    depends_on:
      - datastore-reader
      - datastore-writer
      - redis
    env_file: services.env
    volumes:
      - ./auth/libraries:/app/libraries
      - ./auth/src:/app/src
      - ./auth/test:/app/test
    ports:
      - "9004:9004"

  datastore-reader:
    build:
      context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
      dockerfile: Dockerfile
      args:
        MODULE: "reader"
        PORT: "9010"
    image: openslides-datastore-reader
    ports:
      - "9010:9010"
    environment:
      - DATASTORE_DATABASE_HOST=postgres
      - OPENSLIDES_DEVELOPMENT=1
      - NUM_WORKERS=8
    depends_on:
      - postgres

  datastore-writer:
    build:
      context: "https://github.com/OpenSlides/openslides-datastore-service.git#main"
      dockerfile: Dockerfile
      args:
        MODULE: "writer"
        PORT: "9011"
    image: openslides-datastore-writer
    ports:
      - "9011:9011"
    environment:
      - DATASTORE_DATABASE_HOST=postgres
      - OPENSLIDES_DEVELOPMENT=1
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_USER=openslides
      - POSTGRES_PASSWORD=openslides
      - POSTGRES_DB=openslides

  redis:
    image: redis:alpine
    expose:
      - 6379
