name: CI

on:
  pull_request:
    branches:
      - main
      - 'feature/**'
      - 'staging/4*'
  merge_group:
    types:
      - checks_requested

jobs:
  debug-test:
    name: Testing reusable actions
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4


      - name: Build Test
        uses: Janmtbehrens/OpenSlides/dev/actions/build-service@main
        with:
          service: auth
          context: tests

      - name: Run tests
        run: bash dev/run-tests.sh
      - name: Check prettify
        run: make run-check-prettify

      - name: Check lint
        run: make run-check-lint

      - name: Check black
        run: make run-check-black

      - name: Check isort
        run: make run-check-isort

      - name: Check flake8
        run: make run-check-flake8

      - name: Check mypy
        run: make run-check-mypy

      - name: Stop dev containers
        run: make stop-dev

  build-and-test-prod-image:
    name: Build and test production image
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: .github/startup-test

    steps:
      - uses: actions/checkout@v4

      - name: Create secrets
        run: |
            mkdir secrets
            echo -n "auth-dev-cookie-key" > secrets/auth_cookie_key
            echo -n "auth-dev-token-key" > secrets/auth_token_key
            echo -n "openslides" > secrets/internal_auth_password
            echo -n "openslides" > secrets/postgres_password

      - name: Build docker prod image
        run: make build-prod

      - name: Run prod image
        run: docker compose up -d

      - name: Wait for auth-service
        run: docker compose exec -T auth ./wait-for.sh auth:9004

      - name: Test connection
        run: curl -I localhost:9004/system/auth

      - name: Stop prod containers
        run: docker compose down --volumes

  build-and-test-dev-image:
    name: Build and test development image
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Run tests
        run: make run-tests

      - name: Check prettify
        run: make run-check-prettify

      - name: Check lint
        run: make run-check-lint

      - name: Check black
        run: make run-check-black

      - name: Check isort
        run: make run-check-isort

      - name: Check flake8
        run: make run-check-flake8

      - name: Check mypy
        run: make run-check-mypy

      - name: Stop dev containers
        run: make stop-dev
